@using WebGrease.Css.Extensions
@model IEnumerable<Vidly4.Models.Movie>



@{
ViewBag.Title = "Movies";
}

<h2>Movies</h2>



<table class="movcus">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>genere</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Movie in Model)
        {
            <tr>
                <td>@Movie.Id</td>
                <td>@Html.ActionLink(Movie.Name, "Details", "Movies", new { id = Movie.Id }, null)</td>
                <td>@Movie.MovieGenere.GenereName</td>
            </tr>
        }
    </tbody>
    
</table>